{% extends 'postapp/base_list.html' %}
{% load staticfiles tagging_tags %}
{% block content %}

<!-- Start Blog Area -->
  <div class="blog-page area-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="page-head-blog">
            <div class="single-blog-page">
              <!-- search option start -->
                {% include 'postapp/includes/inc_search.html' %}
              <!-- search option end -->
            </div>
            <div class="single-blog-page">
              <!-- recent start -->
              {% include 'postapp/includes/inc_recent.html' %}
              <!-- recent end -->
            </div>
            <div class="single-blog-page">
{#              {% include 'postapp/includes/inc_categories.html' %} #}
            </div>
            <div class="single-blog-page">
{#              {% include 'postapp/includes/inc_archive.html' %} #}
            </div>
            <div class="single-blog-page">
{#              {% include 'postapp/includes/inc_tags.html' %} #}
            </div>
          </div>
        </div>
        <!-- End left sidebar -->
        <!-- Start single blog -->
        <div class="col-md-8 col-sm-8 col-xs-12">
          <div class="row">
              {% for post in post_queryset%}
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="{% url 'post_detail' post.id %}">
                      <img src="/media/{{ post.picture }}" alt="{{ post.title }}" />
                  </a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
{#                      <i class="fa fa-comment-o"></i><a href="#">11 comments</a> #}
                  </span>
                    <span class="date-type">
                        <i class="fa fa-calendar"></i> {{ post.date_post }}
                    </span>
                </div>
                <div class="blog-text">
                    <h4>
                        <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                    </h4>
                    <p>{{ post.lead|safe|escape }}</p>
                </div>
                <span>
                    <a href="{% url 'post_detail' post.id %}" class="ready-btn">Read more</a>
                </span>
              </div>
            </div>
              {% endfor %}

              {% include 'postapp/includes/inc_pagination.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- End Blog -->

{% endblock %}


