{% extends 'postapp/base_index.html' %}
{% load staticfiles tagging_tags %}
{% block content %}

<!-- Start Blog Area -->
  <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
      <div class="blog-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Последние новости</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start Left Blog -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="blog.html">
                    <img src="/media/{{ post.left.picture }}" alt="{{ post.left.title }}" />
				</a>
              </div>
              <div class="blog-meta">
                <span class="date-type">
					<i class="fa fa-calendar"></i>{{ post.left.date_post }}
				</span>
              </div>
              <div class="blog-text">
                <h4>
					<a href="{% url 'post_detail' %}?post={{ post.left.id }}">{{ post.left.title }}</a>
				</h4>
                <p>
					{{ post.left.lead|safe|escape }}
				</p>
              </div>
              <span>
                  <a href="{% url 'post_detail' %}?post={{ post.left.id }}" class="ready-btn">Read more</a>
			  </span>
            </div>
            <!-- Start single blog -->
          </div>
          <!-- End Left Blog-->
          <!-- Start Left Blog -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="blog.html">
                    <img src="/media/{{ post.center.picture }}" alt="{{ post.center.title }}" />
				</a>
              </div>
              <div class="blog-meta">
                <span class="date-type">
					<i class="fa fa-calendar"></i>{{ post.center.date_post }}
				</span>
              </div>
              <div class="blog-text">
                <h4>
					<a href="{% url 'post_detail' %}?post={{ post.center.id }}">{{ post.center.title }}</a>
				</h4>
                <p>
                  {{ post.center.lead|safe|escape }}
                </p>
              </div>
              <span>
				  <a href="{% url 'post_detail' %}?post={{ post.center.id }}" class="ready-btn">Read more</a>
			  </span>
            </div>
            <!-- Start single blog -->
          </div>
          <!-- End Left Blog-->
          <!-- Start Right Blog-->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="single-blog">
              <div class="single-blog-img">
                <a href="blog.html">
					<img src="/media/{{ post.right.picture }}" alt="{{ post.right.title }}" />
				</a>
              </div>
              <div class="blog-meta">
                <span class="date-type">
					<i class="fa fa-calendar"></i>{{ post.right.date_post }}
				</span>
              </div>
              <div class="blog-text">
                <h4>
					<a href="{% url 'post_detail' %}?post={{ post.right.id }}">{{ post.right.title }}</a>
				</h4>
                <p>
					{{ post.right.lead|safe|escape }}
				</p>
              </div>
              <span>
				  <a href="{% url 'post_detail' %}?post={{ post.right.id }}" class="ready-btn">Read more</a>
			  </span>
            </div>
          </div>
          <!-- End Right Blog-->
        </div>
        <div><br></div>
      </div>
    </div>
  </div>


<!-- End Blog -->

{% endblock %}


