{% extends 'postapp/base_index.html' %}
{% load staticfiles tagging_tags %}
{% block content %}

<!-- Start Blog Area -->
  <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
      <div class="blog-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Последние новости</h2>
            </div>
          </div>
        </div>
        <div class="row">
            {% include 'postapp/includes/inc_card_3.html' %}
        </div>
        <div><br></div>
      </div>
    </div>
  </div>
<!-- End Blog -->

{% endblock %}


