{% extends 'postapp/base_index.html' %}
{% load static tagging_tags %}
{% block content %}

<!-- Start Blog Area -->
  <div id="blog" class="blog-area">
    <div class="blog-inner area-padding">
      <div class="blog-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Последние новости</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">

            {% for post in main_post_queryset %}
              <!-- Start Left Blog -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-blog">
                    <div class="single-blog-img">
                        <a href="{% url 'post_detail' post.id %}">
                          <img src="/media/{{ post.picture }}" alt="{{ post.title }}" />
                        </a>
                    </div>
                    <div class="blog-meta">
                      <span class="date-type">
                            <i class="far fa-calendar"></i> {{ post.date_post }}
                        </span>
                    </div>
                    <div class="blog-text">
                        <h4>
                            <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
                        </h4>
                    </div>
                  </div>
                  <!-- Start single blog -->
                </div>
              <!-- End Left Blog-->
            {% endfor %}

          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            {% include 'postapp/includes/inc_recent.html' %}
          </div>
        </div>
        <div class="row">
            {% include 'postapp/includes/inc_card_4.html' %}
        </div>
        <div><br></div>
      </div>
    </div>
  </div>
<!-- End Blog -->

{% endblock %}


