asgiref==3.3.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
dateparser==1.0.0
Django==3.1.7
django-autoslug==1.9.8
django-ckeditor==6.0.0
django-debug-toolbar==3.2.1
django-js-asset==1.2.2
django-tagging==0.5.0
django-taggit==1.3.0
easy-thumbnails==2.7.1
feedparser==6.0.2
html2text==2020.1.16
humanize==3.2.0
idna==2.10
importlib-metadata==3.7.2
lxml==4.6.2
Markdown==3.3.4
maya==0.6.1
pendulum==2.1.2
Pillow==8.1.2
pipfile==0.0.2
python-dateutil==2.8.1
pytz==2021.1
pytzdata==2020.1
regex==2020.11.13
requests==2.25.1
sgmllib3k==1.0.0
six==1.15.0
snaptime==0.2.4
soupsieve==2.2
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.7.4.3
tzlocal==2.1
uni-paginator @ git+https://github.com/mrvol/uni_paginator@3d6e1e39ec7403ec4923ad188d5f43417b340c7c
urllib3==1.26.3
zipp==3.4.1
