absl-py==0.7.1
apiclient==1.0.4
argcomplete==1.8.1
asn1crypto==0.24.0
astor==0.7.1
backcall==0.1.0
beautifulsoup4==4.6.0
better-setuptools-git-version==1.0.5
cachetools==3.1.1
catfish==1.4.4
certifi==2019.9.11
chardet==3.0.4
command-not-found==0.3
cryptography==2.1.4
cssselect==1.1.0
cupshelpers==1.0
decorator==4.4.0
defer==1.0.6
distro-info===0.18ubuntu0.18.04.1
Django==2.2.10
django-autoslug==1.9.4
django-ckeditor==5.7.1
django-js-asset==1.2.2
django-tagging==0.4.6
django-taggit==1.1.0
emlearn==0.8.1
ezodf==0.3.2
future==0.17.1
gast==0.2.2
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.5
googleapis-common-protos==1.5.9
googlemaps==3.1.3
grpcio==1.20.0
grpcio-tools==1.20.0
h5py==2.9.0
html5lib==0.999999999
httplib2==0.14.0
idna==2.8
ipdb==0.12
ipython==7.6.1
ipython-genutils==0.2.0
jedi==0.14.0
joblib==0.14.0
kazam==1.4.5
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lightdm-gtk-greeter-settings==1.2.2
lxml==4.2.1
Markdown==3.1
menulibre==2.2.0
mugshot==0.4.0
mysqlclient==1.4.4
netifaces==0.10.4
numpy==1.17.3
oauth==1.0.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.45.1
onboard==1.4.1
pandas==0.25.1
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
progressbar==2.3
promise==2.2.1
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.1
psycopg2==2.7.4
ptyprocess==0.6.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pybind11==2.4.3
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
Pygments==2.4.2
pygobject==3.26.1
PyMySQL==0.9.3
pyparsing==2.4.2
PyRTF3==0.47.5
pyTelegramBotAPI==3.6.6
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.0
python-debian==0.1.32
python-debianbts==2.7.2
python-gnupg==0.4.1
python-magic==0.4.15
pytz==2019.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.22.0
requests-oauthlib==1.2.0
requests-unixsocket==0.1.5
rsa==4.0
rtf==0.0.1
rtf2xml==1.33
rtfw==0.2
scikit-learn==0.21.3
scipy==1.3.1
SecretStorage==2.3.1
simplejson==3.13.2
six==1.12.0
sklearn==0.0
sqlparse==0.3.0
ssh-import-id==5.7
striprtf==0.0.5
systemd-python==234
tb-nightly==1.14.0a20190416
tensorflow-estimator-2.0-preview==1.14.0.dev2019041600
tensorflow-metadata==0.13.0
termcolor==1.1.0
tf-nightly-2.0-preview==2.0.0.dev20190416
tfds-nightly==1.0.2.dev201904160105
tqdm==4.31.1
traitlets==4.3.2
ubuntu-drivers-common==0.0.0
Ubuntu-Make==18.5
ufw==0.36
unattended-upgrades==0.1
uni-paginator==0.1.0
Unidecode==1.1.1
uritemplate==3.0.0
urllib3==1.25.6
virtualenv==16.6.1
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5
Werkzeug==0.15.2
wrapt==1.11.1
xcffib==0.5.1
xkit==0.0.0
zope.interface==4.3.2
