{% extends "base_news.html" %}
{% load menu_tags %}
{% load advert_tags %}

{% block content %}

<div class="container col-12 col-md-6">

    <div class="card text-center ">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills ">
                {% for y in year_lst %}
                <li class="nav-item">
                    <a class="nav-link {% if y == year %}active{% endif %}" href="{% url 'calendar' %}?year={{ y }}">{{ y }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body">
            <div class="card-columns">
                {% for num, month_dct in post_dct.items %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'news_view' %}?date={{ year }}-{% if num < 10 %}0{% endif %}{{ num }}">
                                    {{ month_dct.name }}
                                </a>
                            </h5>
                            <table bgcolor="lightgrey" align="center" cellspacing="10" cellpadding="10">
                                <thead>
                                    <tr>
                                        <th>Пн</th>
                                        <th>Вт</th>
                                        <th>Ср</th>
                                        <th>Чт</th>
                                        <th>Пт</th>
                                        <th>Сб</th>
                                        <th>Вс</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for cc in month_dct.calendar %}
                                    <tr>
                                    {% for c in cc %}
                                        <td>
                                        {% if c %}
                                            {% if c in month_dct.date %}
                                                <a href="{% url 'news_view' %}?date={{ year }}-{% if num < 10 %}0{% endif %}{{ num }}-{% if c < 10 %}0{% endif %}{{ c }}">{{ c }}</a>
                                            {% else %}
                                                {{ c }}
                                            {% endif %}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                        </td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
