{% extends "base_news.html" %}
{% load menu_tags %}

{% block content %}

<div class="container">
    {% pages recent_qs 20 'post_qs' %}
        {% for post in post_qs %}
            <p>
                {{ post.id }}.
                {{ post.title }}
                <a href="{% url 'news_short' post.get_short %}">{{ post.get_short }}</a>
            </p>
        {% endfor %}
    {% pages recent_qs 20 'post_qs' %}
</div>

{% endblock %}
