{% extends "base_news.html" %}
{% load menu_tags %}
{% load advert_tags %}

{% block opengraph %}
    {% if instance %}
    <meta data-rh="true" name="twitter:domain" content="{{ seo.site }}" />
    <meta data-rh="true" name="twitter:card" content="summary_large_image" />
    <meta data-rh="true" name="twitter:site" content="@titshappy1"/>
    <meta data-rh="true" name="twitter:creator" content="@titshappy1"/>
    <meta data-rh="true" name="twitter:title" content="{{ instance.meta.title }}" />
    <meta data-rh="true" name="twitter:twitter:image:src" content="{{ seo.domain }}/media/{{ instance.og_picture }}" />
    <meta data-rh="true" name="twitter:url" content="{{ seo.domain }}{{ instance.get_absolute_url }}" />

    <meta data-rh="true" name="robots" content="max-image-preview:large"/>
    <meta data-rh="true" property="vk:image" content="{{ seo.domain }}/media/{{ instance.og_picture }}" />

    <meta data-rh="true" property="og:url" content="{{ seo.domain }}{{ instance.get_absolute_url }}" />
    <meta data-rh="true" property="og:title" content="{{ instance.meta.title }}" />
    <meta data-rh="true" property="og:locale" content="ru-RU" />
    <meta data-rh="true" property="og:description" content="{{ instance.meta.description }}" />
    <meta data-rh="true" property="og:image" content="{{ seo.domain }}/media/{{ instance.og_picture }}" />
    <meta data-rh="true" property="og:image:type" content="image/jpeg" />
    <meta data-rh="true" property="og:type" content="article" />
    <meta data-rh="true" property="og:site_name" content="{{ seo.site }}" />

    <meta data-rh="true" property="article:published_time" content="{{ instance.date_post|date:'c' }}" />
    <meta data-rh="true" property="article:modified_time" content="{{ instance.changed|date:'c' }}" />
    <meta data-rh="true" property="article:section" content="{{ instance.charter }}" />
    <meta data-rh="true" property="og:image:width" content="1024" />
    <meta data-rh="true" property="og:image:height" content="512" />
    {% endif %}
{% endblock %}

{% block seo_title %}{{ instance.meta.title }}{% endblock %}
{% block seo_keywords %}{{ instance.meta.keywords }}{% endblock %}
{% block seo_description %}{{ instance.meta.description }}{% endblock %}

{% block content %}

<div class="container">
    {% get_advert 'top' %}

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 p-0">
            {% if instance %}
                <div class="card rounded-0">
                    <div class="card-header">
                        <img class="card-img rounded-0" src="/media/{{ instance.photo.picture }}" alt="{{ instance.photo.title }}" />
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h1 class="card-title">

                                    {% if request.user.is_superuser or request.user.is_staff %}
                                        {% if instance.deleted %}
                                            <span class="material-icons">restore_from_trash</span>
                                        {% endif %}
                                        {% if instance.delayed %}
                                            <span class="material-icons">lock_clock</span>
                                        {% endif %}
                                    {% endif %}

                                    {{ instance.title }}
                                </h1>
                            </li>
                            <!--noindex-->
                            <li class="list-group-item text-muted">{{ instance.lead }}</li>
                            <li class="list-group-item">
                                <a href="{% url 'news_view' %}">
                                    Главная</a> »
                                <a href="{% url 'news_view' %}?charter={{ instance.charter.slug }}">
                                    {{ instance.charter.title }}</a>
                            </li>
                            <li class="list-group-item text-muted">{{ instance.date_post }}</li>
                            <li class="list-group-item">Короткая ссылка:
                                <a href="{% url 'news_short' instance.get_short %}">{{ instance.get_short }}</a></li>
                            <!--/noindex-->
                        </ul>
                    </div>
                    <div class="card-body">
                        {{ instance.text|safe }}
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <!--noindex-->
                            <li class="list-group-item">
                                {% for tag in tags_qs %}
                                    <a href="{% url 'news_view' %}?tag={{ tag.slug }}">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                            <!--/noindex-->
                        </ul>
                    </div>
                    <div class="card-footer pl-3 pr-3 pb-0 pt-0">
                        {% get_advert 'content' %}
                    </div>
                    {% if request.user.is_staff %}
                    <div class="card-footer">
                        <a class="btn btn-danger btn-sm" href="{% url 'post_content' instance.id %}" role="button">Check &raquo;</a>
                        <a class="btn btn-warning btn-sm" href="{% url 'post_edit' instance.id %}" role="button">Edit &raquo;</a>
                        <a class="btn btn-success btn-sm" href="/admin/postapp/post/{{ instance.id }}/change/" role="button">Admin &raquo;</a>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 p-0">
            <div class="accordion" id="accordionExample">
              <div class="card rounded-0">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block accordion_column" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Рекомендуем
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    {% get_recent %}
                </div>
              </div>
              {% if request.user.is_authenticated %}
              <div class="card rounded-0">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block collapsed accordion_column" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Теги
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                      {% get_tags %}
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="card rounded-0">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block collapsed accordion_column" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Календарь
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    {% get_calendar %}
                  </div>
                </div>
              </div>
              <div class="card rounded-0">
                {% get_advert 'skyscraper' %}
              </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 p-0">
        {% for recent_post in recent_post_qs %}
        <div class="col p-0">
            <div class="card h-100 rounded-0">
                {% if recent_post.photo %}
                    <img class="card-img rounded-0" src="/media/{{ recent_post.photo.picture }}" alt="{{ recent_post.title }}" />
                {% endif %}
              <div class="card-body">
                  <h5 class="card-title">
                      <a href="{% url 'news_detail' recent_post.id  %}">{{ recent_post.title }}</a>
                  </h5>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% get_advert 'bottom' %}
</div>

{% endblock %}
