{% extends "base_news.html" %}
{% load menu_tags %}
{% load advert_tags %}

{% block content %}

<div class="container">
    {% get_advert 'top' %}

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-8">
            <div class="row row-cols-1 row-cols-md-2">
                {% for post in main_qs %}
                <div class="col p-0">
                    <div class="card h-100 rounded-0">
                        <img src="/media/{{ post.photo_picture }}" alt="{{ post.title }}" class="card-img-top rounded-0" />
                        <div class="card-body">
                            <p>
                                <small>
                                    <a href="{% url 'news_view' %}?charter={{ post.charter_slug }}">
                                        {{ post.charter_title }}</a> / {{ post.date_post }}
                                </small>
                            </p>
                            <h5 class="card-title">
                                {% if request.user.is_superuser or request.user.is_staff %}
                                    {% if post.deleted %}
                                        <span class="material-icons">restore_from_trash</span>
                                    {% endif %}
                                    {% if post.delayed %}
                                        <span class="material-icons">lock_clock</span>
                                    {% endif %}
                                {% endif %}

                                {% if post.text %}
                                <a href="{% url 'news_detail' post.id %}">
                                    {{ post.title }}
                                </a>
                                {% else %}
                                    {{ post.title }}
                                {% endif %}
                            </h5>
                            <p>{{ post.lead|truncatewords_html:20 }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% get_advert 'content' %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 p-0">
            <div class="accordion" id="accordionExample">
              <div class="card rounded-0">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block accordion_column" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Рекомендуем
                    </button>
                  </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    {% get_recent %}
                </div>
              </div>
              {% if request.user.is_authenticated %}
              <div class="card rounded-0">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block collapsed accordion_column" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Теги
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                      {% get_tags %}
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="card rounded-0">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block collapsed accordion_column" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Календарь
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    {% get_calendar %}
                  </div>
                </div>
              </div>
              <div class="card rounded-0">
                {% get_advert 'skyscraper' %}
              </div>
            </div>
        </div>
    </div>

    <br>

    <div class="row row-cols-1 row-cols-md-4 p-0">
        {% for post in page_qs %}
        <div class="col mb-4">
            <div class="card h-100">
                <img src="/media/{{ post.photo_picture }}" alt="{{ post.title }}" class="card-img-top rounded-0" />
                <div class="card-body">
                    <p>
                        <small>
                            <a href="{% url 'news_view' %}?charter={{ post.charter_slug }}">{{ post.charter_title }}</a> / {{ post.date_post }}
                        </small>
                    </p>
                    <h5 class="card-title">
                        {% if request.user.is_superuser or request.user.is_staff %}
                            {% if post.deleted %}
                                <span class="material-icons">restore_from_trash</span>
                            {% endif %}
                            {% if post.delayed %}
                                <span class="material-icons">lock_clock</span>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'news_detail' post.id %}">{{ post.title }}</a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'inc/pagination.html' %}

    {% get_advert 'bottom' %}
</div>

{% endblock %}
