{% extends "base_admin.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        {# pages company_qs 50 'company_paged' #}
        {% if message %}
            <h2>
            {{ message }}
            </h2>
        {% endif %}
    </div>
</div>

<div class="container">
    {% for company in company_qs %}
    <div class="mb-4 media border {% if company.deleted %}border-danger{% endif %} rounded-0">
        <div class="media-body">
            <h5 class="mt-0">
                <a href="{% url 'post_view' %}?company={{ company.slug }}" target="_blank">
                    <strong>{{ company.title }}</strong>
                </a>
            </h5>
            <p><b>Site:</b> {{ company.site }}</p>
            <p><b>Site name:</b> {{ company.site_name }}</p>
            <p><b>Folder:</b> {{ company.folder }}</p>
            <p><b>Domain:</b> {{ company.domain }}</p>
            <p><b>Description:</b> {{ company.description }}</p>
            <p><b>Keywords:</b> {{ company.keywords }}</p>
            <p><b>Label:</b> {{ company.label }}</p>
            <p>
                <a class="btn btn-secondary btn-sm" href="{% url 'company_edit' company.id %}" role="button">Edit &raquo;</a>
            </p>
      </div>
    </div>
    {% endfor %}
</div>

<div class="jumbotron">
    <div class="container">
        {# pages company_qs 50 'company_paged' #}
    </div>
</div>

{% endblock %}
