{% extends "base_admin.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        {% if message %}
            <h2>
            {{ message }}
            </h2>
        {% endif %}
    </div>
</div>

{% include 'inc/pagination.html' %}

<div class="container">
    {% for post in post_qs %}
    <div class="mb-4 media border rounded-0">
        {% if post.photo_picture %}
        <img width="200px" src="/media/{{ post.photo_picture }}" alt="{{ post.title }}" class="align-self-start mr-3" />
        {% endif %}
        <div class="media-body">
            <h6>
                <a href="{% url 'post_view' %}?charter={{ post.charter_slug }}">{{ post.charter }}</a>
                /
                <a href="{% url 'post_view' %}?date={{ post.date_post|date:'Y-m' }}">{{ post.date_post }}</a>
            </h6>

            <h5 class="mt-0">
                {% if post.deleted %}
                    <span class="material-icons">restore_from_trash</span>
                {% endif %}
                {% if post.delayed %}
                    <span class="material-icons">lock_clock</span>
                {% endif %}
                <a href="{% url 'news_detail' post.id %}" target="_blank">
                    {{ post.title }}
                </a>
            </h5>

            <p>
                {% for tag in post.tags.all %}
                <a href="{% url 'post_view' %}?tag={{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            <p>
                <a class="btn btn-primary btn-sm" href="/admin/postapp/post/{{ post.id }}/change/" role="button">Admin &raquo;</a>
                <a class="btn btn-secondary btn-sm" href="{% url 'post_edit' post.id %}" role="button">Edit &raquo;</a>
                <a class="btn btn-danger btn-sm" href="{% url 'news_detail' post.id %}" role="button">View &raquo;</a>
            </p>
      </div>
    </div>
    {% endfor %}
</div>

<div class="jumbotron">
    <div class="container">
        {% include 'inc/pagination.html' %}
    </div>
</div>

{% endblock %}
