{% extends "base_admin.html" %}
{% load bootstrap %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-10">
                <div class="card border-primary mb-3" >
                    <div class="card-header bg-transparent border-primary">
                        {% if instance %}
                        <h5 class="card-title">Редактировать {{ active }}</h5>
                        <div class="text-center">
                            <img class="card-img-top rounded-0" src="/media/{{ instance.photo.picture }}" alt="{{ instance.title }}" />
                        </div>
                        {% else %}
                        <h5 class="card-title">Создать {{ active }}</h5>
                        {% endif %}
                    </div>
                    <form action="." method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body text-primary">
                            {{ form|bootstrap }}
                        </div>
                        <div class="card-footer bg-transparent border-primary">
                            {% if instance %}
                            <a href="{% url 'post_view' %}" class="btn btn-primary text-center"><i class="fas fa-undo"></i>&nbsp;Отмена</a>
                            <a href="{% url 'news_detail' instance.pk %}" class="btn btn-primary text-center"><i class="far fa-newspaper"></i>&nbsp;Посмотреть</a>
                            {% endif %}
                            <button type="submit" class="btn btn-primary float-right mb-3"><i class="far fa-save"></i>&nbsp;Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="card border-primary mb-3" >
                    <div class="text-center">
                        <img class="card-img-top rounded-0" src="/media/{{ instance.og_picture }}" alt="{{ instance.og_picture }}" />
                    </div>
                </div>

                <div class="card border-primary mb-3" >
                    <div class="text-center">
{% for tags in tags_qs %}
<a href="{% url 'post_view' %}?tag={{ tags.slug }}">
{{ tags.title }}
</a>
{% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
