{% extends "base_admin.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        {# pages user_qs 50 'user_paged' #}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

<div class="container">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Super</th>
        <th>Active</th>
        <th>Staff</th>
        <th>Company</th>
        <th>Edit</th>
      </thead>
      <tbody>
      {% for user in user_qs %}
        <tr {# class="table-active" #}>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.get_gender_display }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.get_role_display }}</td>
            <td>{{ user.is_superuser }}</td>
            <td>{{ user.is_active }}</td>
            <td>{{ user.is_staff }}</td>
            <td>{{ user.company }}</td>
            <td>
                <a class="btn btn-secondary btn-sm" href="{% url 'user_edit' user.id %}" role="button">Edit &raquo;</a>
                <form action="{% url 'user_password' user.id %}" method="POST">{% csrf_token %}
                    <button>password</button>
                </form>
            </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
</div>

<div class="jumbotron">
    <div class="container">
        {# pages user_qs 50 'user_paged' #}
    </div>
</div>

{% endblock %}
