{% extends 'postapp/base.html' %}
{% load staticfiles %}
{% block content %}
{% load tagging_tags %}


<div class="container">
	<div class="container">
		<span>
			<b><a href="{% url 'post_list' %}">Main page</a></b> |
			<a href="{% url 'post_list' %}?tag={{ tag.slug }}"> {{ tag.name }}</a>
		</span>
	</div>

	<div class="container">
		<div class="row">
			{% for post in post_list %}
			<div class="col-md-4">
				<h2>{{ post.title }}</h2>
				<span>{{ post.lead|safe|escape }}</span>
				<p>
					<a title="{{ post.title }}" class="btn btn-secondary" href="{% url 'post_detail' %}?post={{ post.id }}" role="button">
						<font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Читать далее</font></font>
					</a>
				</p>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
