{% extends 'postapp/base.html' %}
{% load staticfiles %}
{% block content %}
{% load tagging_tags %}


<div class="container">
	<div class="container">
		<span>
			<a href="{% url 'post_list' %}">Main page</a> |
			{% for tag in post.tags.all %}
				<a href="{% url 'post_list' %}?tag={{ tag.slug }}"> {{ tag.name }}</a> |
			{% endfor %}
		</span>
	</div>
	<div class="container">
		<h1 class="display-3">{{ post.title }}</h1>
		<span>{{ post.text|safe|escape }}</span>
		<span>{{ post.date_post|safe|escape }}</span>
	</div>

</div>

{% endblock %}