{% extends 'contactapp/base.html' %}
{% load staticfiles %}
{% block content %}

		<div class="container">
			<div class="page-breadcrumbs">
				<h1 class="section-title title">Contact Us</h1>
			</div>
			<div class="row">
				<div class="col-sm-8 col-md-9">
					<div class="contact-us">
						<div class="map-section">
							<div id="gmap"></div>
						</div>
						<div class="contact-info">
							<h1 class="section-title title">Contact Information</h1>
							<ul class="list-inline">
                            {% for contact in contact_list %}
                                <li>
                                    <h2>{{ contact.name }}</h2>
                                    <address>
                                        {{ contact.address_city }}<br>{{ contact.address_street }}
                                        <p class="contact-mail"><strong>Email:</strong> <a href="#">{{ contact.mail }}</a></p>
                                        <p><strong>Call:</strong> {{ contact.phone }}</p>
                                    </address>
                                </li>
                            {% endfor %}
							</ul>
						</div>
						<div class="message-box">
							<h1 class="section-title title">Drop Your Message</h1>
							<form id="comment-form" name="comment-form" method="post">
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label for="name">Name</label>
											<input type="text" name="name" class="form-control" required="required">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label for="email">Email</label>
											<input type="email" name="email" class="form-control" required="required">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<label for="subject">Subject</label>
											<input type="subject" name="subject" class="form-control">
										</div>
									</div>
									<div class="col-sm-12">
										<div class="form-group">
											<label for="comment" >Your Text</label>
											<textarea name="comment" id="comment" required="required" class="form-control" rows="5"></textarea>
										</div>
										<div class="text-right">
											<button type="submit" class="btn btn-primary">Send </button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div><!-- contact-us -->
				</div>
				<div class="col-md-3 col-sm-4">
					<div id="sitebar">
						<div class="widget follow-us">
                            {% include 'contactapp/includes/widget_follow.html' %}
						</div><!--/#widget-->

						<div class="widget">
                            <h1 class="section-title title">Recent Post</h1>
                            {% include 'contactapp/includes/widget_recent_post.html' %}
						</div><!--/#widget-->

					</div><!--/#sitebar-->
				</div>
			</div><!-- row -->
		</div><!--/.container-->
	</div><!--/#main-wrapper-->

{% endblock %}