<!DOCTYPE html>
{% load static %}
{% load rssapp_custom_tags %}
<html>
    <head>
        <title>UIkit</title>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.min.css" />
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script>
    </head>
    <body>
        {% get_sidebar_menu as sidebar_items %}
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <a href="{% url 'show_content' %}" class="uk-navbar-item uk-logo">Главная</a>
                    {% for sidebar in sidebar_items %}
                        <li><a href="{% url 'show_content' %}?bu={{ sidebar.id }}">{{ sidebar.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <div class="uk-container uk-container-expand">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>


