{% extends 'rssapp/base.html' %}
{% load static %}
{% block content %}

    <h2>
        {% if content.tr_title %}
            {{ content.tr_title }}
        {% else %}
            {{ content.title }}
        {% endif %}
    </h2>
        <div>
        {% if content.tr_lead %}
            {{ content.tr_lead|safe }}
        {% else %}
            {{ content.lead|safe }}
        {% endif %}
    </div>
    {% if content.pic %}
        <img src="{{ content.pic }}">
    {% endif %}
    <div>
        {% if content.tr_text %}
            {{ content.tr_text|safe }}
        {% else %}
            {{ content.text|safe }}
        {% endif %}
    </div>
    <a href="{{ content.url }}">via</a>

{% endblock %}
