{% load static %}




{% comment %}
    <div class="uk-card uk-card-small uk-card-{% if one_card.is_read %}default{% else %}primary{% endif %}">
        <div class="uk-card-media-top">
            <a href="{% url 'news_detail' one_card.id %}">
                <img src="{{ one_card.pic }}">
            </a>
        </div>
        <div class="uk-card-body">
            <a href="{% url 'news_detail' one_card.id %}">
                <h3 class="uk-card-title">
                    {% if one_card.tr_title %}
                        {{ one_card.tr_title }}
                    {% else %}
                        {{ one_card.title }}
                    {% endif %}
                </h3>
            </a>
        </div>
        <div class="uk-card-badge uk-label">{{ one_card.baseurl }}</div>
    </div>
{% endcomment %}