<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'news_view' %}">SITE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown {% if active == 'photo' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Photo</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{% url 'photo_view' %}">View</a>
                    <a class="dropdown-item" href="{% url 'photo_add' %}">Add</a>
                </div>
            </li>

            <li class="nav-item dropdown {% if active == 'post' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Post</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <a class="dropdown-item" href="{% url 'post_view' %}">View</a>
                    <a class="dropdown-item" href="{% url 'post_add' %}">Add</a>
                </div>
            </li>

            <li class="nav-item dropdown {% if active == 'charter' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Charter</a>
                <div class="dropdown-menu" aria-labelledby="dropdown03">
                    <a class="dropdown-item" href="{% url 'charter_view' %}">View</a>
                    <a class="dropdown-item" href="{% url 'charter_add' %}">Add</a>
                </div>
            </li>

            <li class="nav-item dropdown {% if active == 'user' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
                <div class="dropdown-menu" aria-labelledby="dropdown06">
                    <a class="dropdown-item" href="{% url 'user_view' %}">View</a>
                    <a class="dropdown-item" href="{% url 'user_add' %}">Add</a>
                </div>
            </li>

            <li class="nav-item dropdown {% if active == 'company' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Company</a>
                <div class="dropdown-menu" aria-labelledby="dropdown07">
                    <a class="dropdown-item" href="{% url 'company_view' %}">View</a>
                    <a class="dropdown-item" href="{% url 'company_add' %}">Add</a>
                </div>
            </li>

            <li class="nav-item dropdown {% if active == 'advert' %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Advert</a>
                <div class="dropdown-menu" aria-labelledby="dropdown05">
                    <a class="dropdown-item" href="{% url 'advert_view' %}">View</a>
                    <a class="dropdown-item" href="{% url 'advert_add' %}">Add</a>
                </div>
            </li>
        </ul>
        <form action="{% url 'post_view' %}" method="GET" class="form-inline mt-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" name="query" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><span class="material-icons">search</span></button>
        </form>

        <div>&nbsp;
            {% if user.is_authenticated %}
                <a class="btn btn-outline-light my-2 mr-sm-2 my-sm-0"  href="{% url 'logout' %}" title="{{ user }}"><span class="material-icons">logout</span></a>
            {% else %}
                <a class="btn btn-outline-light my-2 mr-sm-2 my-sm-0" href="{% url 'login' %}" title="{{ user }}"><span class="material-icons">login</span></a>
            {% endif %}
        </div>
    </div>
</nav>
