{% extends "base_admin.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        {% if message %}
            <h2>
            {{ message }}
            </h2>
        {% endif %}
    </div>
</div>

{% include 'inc/pagination.html' %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-4">
        {% for photo in photo_qs %}
        <div class="col mb-3 ">
            <div class="card h-100 border {% if photo.deleted %}border-danger{% endif %}">
                <img class="card-img-top rounded-0" src="/media/{{ photo.picture }}" alt="{{ photo.title }}" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">{{ photo.title }}</h5>
                    {% if photo.description %}
                        <p>{{ photo.description }}</p>
                    {% endif %}
                    <p>
                        {% for tag in photo.tags.all %}
                            <a href="{% url 'photo_view' %}?tag={{ tag.slug }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary btn-sm" href="{% url 'photo_edit' photo.id %}" role="button">Edit &raquo;</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        {% include 'inc/pagination.html' %}
    </div>
</div>

{% endblock %}