{% load staticfiles %}

<div class="page-head-blog">
            <div class="single-blog-page">
              <!-- search option start -->
              <form action="#">
                <div class="search-option">
                  <input type="text" placeholder="Search...">
                  <button class="button" type="submit">
                                            <i class="fa fa-search"></i>
                                        </button>
                </div>
              </form>
              <!-- search option end -->
            </div>
            <div class="single-blog-page">
              <!-- recent start -->
              <div class="left-blog">
                <h4>recent post</h4>
                <div class="recent-post">
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="/static/#">
												   <img src="/static/img/blog/1.jpg" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="/static/#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="/static/#">
												   <img src="/static/img/blog/2.jpg" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="/static/#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="/static/#">
												   <img src="/static/img/blog/3.jpg" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="/static/#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                  <!-- start single post -->
                  <div class="recent-single-post">
                    <div class="post-img">
                      <a href="/static/#">
												   <img src="/static/img/blog/4.jpg" alt="">
												</a>
                    </div>
                    <div class="pst-content">
                      <p><a href="/static/#"> Redug Lerse dolor sit amet consect adipis elit.</a></p>
                    </div>
                  </div>
                  <!-- End single post -->
                </div>
              </div>
              <!-- recent end -->
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>categories</h4>
                <ul>
                  <li>
                    <a href="/static/#">Portfolio</a>
                  </li>
                  <li>
                    <a href="/static/#">Project</a>
                  </li>
                  <li>
                    <a href="/static/#">Design</a>
                  </li>
                  <li>
                    <a href="/static/#">wordpress</a>
                  </li>
                  <li>
                    <a href="/static/#">Joomla</a>
                  </li>
                  <li>
                    <a href="/static/#">Html</a>
                  </li>
                  <li>
                    <a href="/static/#">Website</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-blog-page">
              <div class="left-blog">
                <h4>archive</h4>
                <ul>
                  <li>
                    <a href="/static/#">07 July 2016</a>
                  </li>
                  <li>
                    <a href="/static/#">29 June 2016</a>
                  </li>
                  <li>
                    <a href="/static/#">13 May 2016</a>
                  </li>
                  <li>
                    <a href="/static/#">20 March 2016</a>
                  </li>
                  <li>
                    <a href="/static/#">09 Fabruary 2016</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="single-blog-page">
              <div class="left-tags blog-tags">
                <div class="popular-tag left-side-tags left-blog">
                  <h4>popular tags</h4>
                  <ul>
                    <li>
                      <a href="/static/#">Portfolio</a>
                    </li>
                    <li>
                      <a href="/static/#">Project</a>
                    </li>
                    <li>
                      <a href="/static/#">Design</a>
                    </li>
                    <li>
                      <a href="/static/#">wordpress</a>
                    </li>
                    <li>
                      <a href="/static/#">Joomla</a>
                    </li>
                    <li>
                      <a href="/static/#">Html</a>
                    </li>
                    <li>
                      <a href="/static/#">Masonry</a>
                    </li>
                    <li>
                      <a href="/static/#">Website</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>