{% load static %}

{% for post in post_queryset%}
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="single-blog">
      <div class="single-blog-img">
        <a href="{% url 'post_detail' post.id %}">
            <img src="/media/{{ post.photo_picture }}" alt="{{ post.title }}" />
        </a>
      </div>
      <div class="blog-meta">
        <span class="comments-type">
{#                <i class="fa fa-comment-o"></i><a href="#">11 comments</a> #}
        </span>
          <span class="date-type">
              <i class="fas fa-calendar"></i> {{ post.date_post }}
          </span>
      </div>
      <div class="blog-text">
          <h4>
              <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
          </h4>
          <p>
              {{ post.lead|safe|escape }}
          </p>
      </div>
      <span>
          <a href="{% url 'post_detail' post.id %}" class="ready-btn">{{ setting.name_read_more }}</a>
      </span>
    </div>
  </div>
{% endfor %}
