{% load static %}

<div class="wellcome-area">
    <div class="well-bg">
      <div class="test-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wellcome-text">
              <div class="well-text text-center">
                <h2>Поиск по сайту</h2>
                <p>
                  Попробуйте найти что-нибудь. Введите поисковый запрос.
                </p>
                <div class="subs-feilds">
                  <div class="suscribe-input">
                    <form action="{% url 'post_filter' %}" method="POST">
                    {% csrf_token %}
                      <input type="text" class="email form-control width-80" name="search" placeholder="Search...">
                      <button type="submit" id="sus_submit" class="add-btn width-20">Найти</button>
                    </form>
                    <div id="msg_Submit" class="h3 text-center hidden"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>