{% load static %}
  {% if post %}
    <meta property="og:url" content= "{% url 'post_list' post.charter.slug %}" />
    <meta property="og:title" content="{{ og.title }}" />
    <meta property="og:description" content="{{ og.description }}" />
    <meta property="og:image" content="/media/opengraph/post/{{ og.image }}" />
    <meta property="og:type" content="{{ og.type }}"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kompoblog" />
    <meta name="twitter:creator" content="@kompoblog" />
    <meta name="twitter:url" content="{% url 'post_list' post.charter.slug %}">
    <meta name="twitter:title" content="{{ og.title }}" />
    <meta name="twitter:description" content="{{ og.description }}" />
    <meta name="twitter:image" content="/media/{{ post.photo_picture }}" />
    <meta name="twitter:domain" content="kompoblog.ru" />
  {% endif %}
