{% load uni_paginator static %}

{% pages post_queryset 16 'post_paged' %}

    {% for post in post_paged %}
      <!-- Start Left Blog -->
        <div class="col-md-3 col-sm-3 col-xs-12" style="height: 550px;" >
          <div class="single-blog">
            <div class="single-blog-img">
                <a href="{% url 'post_detail' post.id %}">
                    {% if post.picture %}
                    <img src="/media/{{ post.picture }}" alt="{{ post.title }}" />
                    {% endif %}
                </a>
            </div>
            <div class="blog-meta">
              <span class="date-type">
                    <i class="fas fa-calendar"></i> {{ post.date_post }}
                </span>
            </div>
            <div class="blog-text">
              <h4>
                    <a href="{% url 'post_detail' post.id %}">
                        {% if post.deleted %}<del>{% endif %}
                        {{ post.title }}
                        {% if post.deleted %}</del>{% endif %}
                    </a>
              </h4>
              <p>{{ post.lead|safe|escape|truncatechars:190 }}</p>
            </div>
            <span>
                <a href="{% url 'post_detail' post.id %}" class="ready-btn">{{ setting.name_read_more }}</a>
              </span>
          </div>
          <!-- Start single blog -->
        </div>
      <!-- End Left Blog-->
    {% endfor %}

{% pages post_queryset 4 'post_paged' %}
