{% load static %}

<div class="left-blog">
  <h4>{{ setting.name_recent_post }}</h4>
  <div class="recent-post">
    <!-- start single post -->
    {% for recent in recent_post %}
      <div class="recent-single-post">
        <div class="post-img">
          <a href="{% url 'post_detail' recent.id %}" ><img src="/media/{{ recent.picture }}" alt="{{ recent.title }}"></a>
        </div>
        <div class="pst-content">
          <p><a href="{% url 'post_detail' recent.id %}" > {{ recent.title }}</a></p>
        </div>
      </div>
    {% endfor %}
    <!-- end single post -->
  </div>
</div>


