{% load staticfiles %}


<div class="row">
    <div class="col-sm-12">
        <h1 class="section-title">{{ my_news_press }}</h1>
        {% for news in news_author %}
            {% if forloop.counter == 1 or forloop.counter == 7 or forloop.first %}
                <div class="section">
                <div class="row">
            {% endif %}

            {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 7 or forloop.counter == 9 or forloop.counter == 11 or forloop.first %}
                <div class="col-sm-4">
            {% endif %}

            <div class="post medium-post">
                <div class="entry-header">
                    <div class="entry-thumbnail">
                            <img class="img-responsive" src="/media/{{  news.picture|default:'default/450x258.jpg' }}" alt="" />

                    </div>
                </div>
                <div class="post-content">
                    <div class="entry-meta">
                        <ul class="list-inline">
                            <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> {{ news.date_start }} </a></li>
                            <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                            <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                        </ul>
                    </div>
                    <h2 class="entry-title">
                        <a href="/news/{{ news.slug }}">{{ news.title }}</a>
                    </h2>
                </div>
            </div><!--/post-->

            {% if forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 10 or forloop.counter == 12 or forloop.last %}
                </div>
            {% endif %}

            {% if forloop.counter == 6 or forloop.counter == 12 or forloop.last %}
                    </div>
                </div><!--/.section -->
            {% endif %}

            {% if forloop.counter == 6 %}
                <div class="google-add">
                    <div class="add inner-add text-center">
                        <a href="#"><img class="img-responsive" src="/static/images/post/google-add.jpg" alt="" /></a>
                    </div><!--/.section-->
                </div><!--/.google-add-->
            {% endif %}

        {% endfor %}
    </div>
</div>