<footer class="container">

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card" >
                        <div class="card-body">
                            {% if not show_footer %}
                                {% include 'inc/counter_kompoblog.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card" >
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card" >
                        <div class="card-body">
                            <p class="card-text">Всё, что вы хотели знать о компьютерах, но стеснялись спросить.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="float-right"><a href="#">Наверх</a></p>
    <p><a href="{% url 'news_view' %}">{{ site_name }}</a> © 2010 &mdash; {% now "Y" %}</p>
</footer>