{% extends 'authorapp/base.html' %}
{% load staticfiles %}
{% block content %}

		<div class="container">
			<div class="page-breadcrumbs">
				<h1 class="section-title">Author List</h1>
			</div>
			<div class="section">
				<div class="row">
					<div class="col-sm-8 col-md-9">
						<div class="author-listing">
							<div class="authors">
								<ul class="row">
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg1.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author4.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg2.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author5.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg3.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author6.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg4.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author7.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg5.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author8.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg6.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author9.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg7.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author10.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg8.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author11.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg9.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author12.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg2.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author4.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg3.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author6.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg4.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author8.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg6.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author9.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg9.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author2.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg7.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author6.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg5.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author10.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg1.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author5.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/static/images/others/author-bg4.jpg" alt="" />
											</div>
											<div class="author-image">
												<a href="author-details.html"><img class="img-responsive" src="/static/images/others/author11.png" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="author-details.html">Michael Kalinin</a></h2>
												<p>Orenburg, Russian Federation</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
													<li><a href="#"><i class="fa fa-facebook"></i></a></li>
													<li><a href="#"><i class="fa fa-twitter"></i></a></li>
													<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
													<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													<li><a href="#"><i class="fa fa-youtube"></i></a></li>
													<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
								</ul>
							</div>
						</div><!-- author-listing -->

						<div class="pagination-wrapper">
							<ul class="pagination">
								<li><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-long-arrow-left"></i> Previous Page</span></a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="active"><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#">7</a></li>
								<li><a href="#">8</a></li>
								<li><a href="#">9</a></li>
								<li><a href="#">10</a></li>
								<li><a href="#" aria-label="Next"><span aria-hidden="true">Next Page <i class="fa fa-long-arrow-right"></i></span></a></li>
							</ul>
						</div>
					</div><!--/.col-sm-9 -->

					<div class="col-sm-4 col-md-3">
						<div id="sitebar">
							<div class="widget">
                                {% include 'contactapp/includes/widget_advertisement.html' %}
							</div><!--/#widget-->

							<div class="widget follow-us">
								<h1 class="section-title title">Follow Us</h1>
                                {% include 'contactapp/includes/widget_follow.html' %}
							</div><!--/#widget-->

							<div class="widget">
								<h1 class="section-title title">This is Rising!</h1>
								{% include 'contactapp/includes/widget_recent_post.html' %}
							</div><!--/#widget-->
						</div><!--/#sitebar-->
					</div>
				</div>
			</div><!--/.section-->
		</div><!--/.container-->
	</div><!--/#main-wrapper-->

{% endblock %}