{% extends 'authorapp/base.html' %}
{% load staticfiles %}
{% load font_awesome %}
{% block content %}

		<div class="container">
			<div class="page-breadcrumbs">
				<h1 class="section-title">{{ author_list }}</h1>
			</div>
			<div class="section">
				<div class="row">
					<div class="col-sm-8 col-md-9">
						<div class="author-listing">
							<div class="authors">
								<ul class="row">
                                    {% for author in author_set %}
									<li class="col-sm-6 col-md-4">
										<div class="single-author">
											<div class="author-bg">
												<img class="img-responsive" src="/media/{{ author.background|default:'default/270x115.png' }}" width="270" height="115" alt="" />
											</div>
											<div class="author-image">
												<a href="{{ author.slug }}/"><img class="img-responsive" src="/media/{{ author.avatar|default:'default/90x90.png' }}" width="90" height="90" alt="" /></a>
											</div>
											<div class="author-info">
												<h2><a href="{{ author.slug }}/">{{ author.name }}</a></h2>
												<p>{{ author.city }}</p>
											</div>
											<div class="author-social">
												<ul class="list-inline social-icons">
                                                    <li>&nbsp;</li>
                                                    {% if author.social_network_1 not in '' %}
													<li><a href="{{ author.social_network_1 }}" target="_blank"><i class="{{ author.social_network_1|font_awesome }}"></i></a></li>
                                                    {% endif %}
                                                    {% if author.social_network_2 not in '' %}
													<li><a href="{{ author.social_network_2 }}" target="_blank"><i class="{{ author.social_network_2|font_awesome }}"></i></a></li>
                                                    {% endif %}
                                                    {% if author.social_network_3 not in '' %}
													<li><a href="{{ author.social_network_3 }}" target="_blank"><i class="{{ author.social_network_3|font_awesome }}"></i></a></li>
                                                    {% endif %}
                                                    {% if author.social_network_4 not in '' %}
													<li><a href="{{ author.social_network_4 }}" target="_blank"><i class="{{ author.social_network_4|font_awesome }}"></i></a></li>
                                                    {% endif %}
                                                    {% if author.social_network_5 not in '' %}
													<li><a href="{{ author.social_network_5 }}" target="_blank"><i class="{{ author.social_network_5|font_awesome }}"></i></a></li>
                                                    {% endif %}
                                                    {% if author.social_network_6 not in '' %}
													<li><a href="{{ author.social_network_6 }}" target="_blank"><i class="{{ author.social_network_6|font_awesome }}"></i></a></li>
                                                    {% endif %}
												</ul>
											</div>
										</div><!-- single-author -->
									</li>
                                    {% endfor %}

								</ul>
							</div>
						</div><!-- author-listing -->

 						{% include 'contactapp/includes/pagination.html' %}
					</div><!--/.col-sm-9 -->

					<div class="col-sm-4 col-md-3">
						<div id="sitebar">
							<div class="widget">
                                {% include 'contactapp/includes/widget_advertisement.html' %}
							</div><!--/#widget-->

							<div class="widget follow-us">
								<h1 class="section-title title">Follow Us</h1>
                                {% include 'contactapp/includes/widget_follow.html' %}
							</div><!--/#widget-->

							<div class="widget">
								<h1 class="section-title title">This is Rising!</h1>
								{% include 'contactapp/includes/widget_recent_post.html' %}
							</div><!--/#widget-->
						</div><!--/#sitebar-->
					</div>
				</div>
			</div><!--/.section-->
		</div><!--/.container-->
	</div><!--/#main-wrapper-->

{% endblock %}