{% extends 'authorapp/base.html' %}
{% load staticfiles %}
{% load font_awesome %}
{% block content %}

<style>
.author-details .author-heading {
	background-image:url(/media/{{ author_page.background_page }});
	background-repeat:no-repeat;
	background-size:cover;
	background-color:#bbbbbb;
	color:#fff;
	position:relative;
	min-height:200px;
	border-radius:4px 4px 0 0;
}
</style>

		<div class="container">
			<div class="page-breadcrumbs">
                <h1 class="section-title">{{ author_profile }}</h1>
			</div>
			<div class="section">
				<div class="row">
					<div class="col-sm-9">
						<div id="site-content" class="site-content">
							<div class="author-details">
								<div class="author-heading">
									<div class="author-profile">
										<div class="author-gravatar">
											<img class="img-responsive" src="/media/{{ author_page.avatar }}" width="90" height="90" alt="" />
										</div>
										<div class="author-name">
											<h1>{{ author_page.name }}</h1>
											<p>{{ author_page.city }}</p>
										</div>
										<div class="author-social">
											<p>{{ find_me }}</p>
											<ul class="list-inline social-icons">
                                                {% if author_page.social_network_1 not in '' %}
												<li><a href="{{ author_page.social_network_1 }}" target="_blank"><i class="{{ author_page.social_network_1|font_awesome }}"></i></a></li>
                                                {% endif %}
                                                {% if author_page.social_network_2 not in '' %}
												<li><a href="{{ author_page.social_network_2 }}" target="_blank"><i class="{{ author_page.social_network_2|font_awesome }}"></i></a></li>
                                                {% endif %}
                                                {% if author_page.social_network_3 not in '' %}
												<li><a href="{{ author_page.social_network_3 }}" target="_blank"><i class="{{ author_page.social_network_3|font_awesome }}"></i></a></li>
                                                {% endif %}
                                                {% if author_page.social_network_4 not in '' %}
												<li><a href="{{ author_page.social_network_4 }}" target="_blank"><i class="{{ author_page.social_network_4|font_awesome }}"></i></a></li>
                                                {% endif %}
                                                {% if author_page.social_network_5 not in '' %}
												<li><a href="{{ author_page.social_network_5 }}" target="_blank"><i class="{{ author_page.social_network_5|font_awesome }}"></i></a></li>
                                                {% endif %}
                                                {% if author_page.social_network_6 not in '' %}
												<li><a href="{{ author_page.social_network_6 }}" target="_blank"><i class="{{ author_page.social_network_6|font_awesome }}"></i></a></li>
                                                {% endif %}
											</ul>
										</div>
									</div>
								</div>
								<div class="author-info">
									<h3>{{ about_me }}</h3>
									<p>{{ author_page.about }}</p>
								</div>
							</div>
						</div><!--/#site-content-->

						{% include 'contactapp/includes/mynewspress.html' %}
 						{% include 'contactapp/includes/pagination.html' %}
					</div><!--/.col-sm-9 -->	
					
					<div class="col-sm-3">
						<div id="sitebar">
							<div class="widget">
                                {% include 'contactapp/includes/widget_advertisement.html' %}
							</div><!--/#widget-->

							<div class="widget follow-us">
								<h1 class="section-title title">Follow Us</h1>
                                {% include 'contactapp/includes/widget_follow.html' %}
							</div><!--/#widget-->

							<div class="widget">
								<h1 class="section-title title">This is Rising!</h1>
								{% include 'contactapp/includes/widget_recent_post.html' %}
							</div><!--/#widget-->
						</div><!--/#sitebar-->
					</div>
				</div>				
			</div><!--/.section-->
		</div><!--/.container-->
	</div><!--/#main-wrapper--> 
	
{% endblock %}