
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'news_view' %}">{{ site_name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% for menu, charter in main_menu %}
        <li class="nav-item {% if active == charter %}active{% endif %}">
          <a href="{% url 'news_view' %}?charter={{ charter }}" class="nav-link">{{ menu }}</a>
        </li>
        {% endfor %}
      </ul>
      <form action="{% url 'news_view' %}" method="GET" class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"><span class="material-icons">search</span></button>
      </form>

      <div>&nbsp;
          {% if user.is_authenticated %}
              <a class="btn btn-outline-light my-2 mr-sm-2 my-sm-0"  href="{% url 'logout' %}" title="{{ user }}"><span class="material-icons">logout</span></a>
              <a class="btn btn-outline-light my-2 mr-sm-2 my-sm-0"  href="{% url 'post_view' %}">Admin</a>
          {% else %}
              <a class="btn btn-outline-light my-2 mr-sm-2 my-sm-0" href="{% url 'login' %}" title="{{ user }}"><span class="material-icons">login</span></a>
          {% endif %}
      </div>
    </div>
  </nav>
