    <ul class="pagination justify-content-center fox">
    {% if pagination.current > 1 %}
        <li class="page-item"><a href="?page={{ pagination.first }}" title="На первую" class="page-link">« Первая</a></li>
        <li class="page-item"><a href="?page={{ pagination.rw }}" title="Предыдущая" class="page-link"><strong>«</strong></a></li>
    {% endif %}
    {% for cl in pagination.counter_lst %}
        {% if cl >= 1 and cl <= pagination.counter %}
            <li class="page-item {% if cl == pagination.current %}active{% endif %}"><a href="?page={{ cl }}" class="page-link">{{ cl }}</a></li>
        {% endif %}
    {% endfor %}
    {% if pagination.current < pagination.counter %}
        <li class="page-item"><a href="?page={{ pagination.ff }}" title="Следующая" class="page-link"><strong>»</strong></a></li>
        <li class="page-item"><a href="?page={{ pagination.last }}" title="На последнюю" class="page-link">Последняя »</a></li>
    {% endif %}
    </ul>