{% extends "base_admin.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        {# pages advert_qs 50 'advert_paged' #}
        {% if message %}
            <h2>
            {{ message }}
            </h2>
        {% endif %}
    </div>
</div>

<div class="container">
    {% for advert in advert_qs %}
    <div class="mb-4 media border rounded-0">
        {% if advert.url %}
            <a href="{{ advert.url }}" target="_blank">
        {% endif %}
        {% if advert.image %}
            <img src="/media/{{ advert.image }}" class="card-img-top mr-3 mb-2 img-fluid rounded-0" style="width: 9rem;" alt="{{ advert.title }}">
        {% endif %}
        {% if advert.url %}
            </a>
        {% endif %}
        <div class="media-body">
            <h5 class="mt-0 {% if not advert.is_present %}text-muted{% endif %}">
                {{ advert.title }}
            </h5>
            <span class="btn-sm"><i class="fas fa-toilet-paper"></i> {{ advert.slug }}</span><br>
            <span class="btn-sm"><i class="far fa-image"></i> {{ advert.image }}</span><br>
            <span class="btn-sm"><i class="fas fa-globe"></i> {{ advert.url }}</span><br>
            <span class="btn-sm"><i class="fas fa-code"></i> {{ advert.html }}</span><br>
            <span class="btn-sm"><i class="fas fa-map-marked-alt"></i> {{ advert.position }}</span><br>
            <span class="btn-sm"><i class="far fa-flag"></i> {{ advert.counter_json }}</span><br>
            <span class="btn-sm"><i class="far fa-clock"></i> {{ advert.date_start }}</span><br>
            <span class="btn-sm"><i class="far fa-clock"></i> {{ advert.date_stop }}</span><br>
            <span class="btn-sm"><i class="fas fa-palette"></i> {{ advert.color }}</span><br>
            <span class="btn-sm"><i class="far fa-clock"></i> {{ advert.is_present }}</span>

            <p>
                <a class="btn btn-secondary btn-sm" href="{% url 'advert_edit' advert.id %}" role="button">Edit &raquo;</a>
            </p>
      </div>
    </div>
    {% endfor %}
</div>

<div class="jumbotron">
    <div class="container">
        {# pages advert_qs 50 'advert_paged' #}
    </div>
</div>

{% endblock %}