{% extends "base_admin.html" %}
{% load bootstrap %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="card border-primary mb-3" >
            <div class="card-header bg-transparent border-primary">
                {% if instance %}
                <h5 class="card-title">Редактировать {{ active }}</h5>
                <div class="text-center">
                    <img class="card-img-top" src="/media/{{ instance.picture }}" alt="{{ instance.title }}" />
                </div>
                {% else %}
                <h5 class="card-title">Создать {{ active }}</h5>
                {% endif %}
            </div>
            <form action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body text-primary">
                    {{ form|bootstrap }}
                </div>

                <div class="card-footer bg-transparent border-primary">
                    {% if instance %}
                    <a href="{% url 'photo_view' %}" class="btn btn-primary text-center"><i class="fas fa-undo"></i>&nbsp;Отменить</a>
                    {% endif %}
                    <button type="submit" class="btn btn-primary float-right mb-3"><i class="far fa-newspaper"></i>&nbsp;Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}